In [46]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

from config import g_key

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2021-04-18 16:01:18,22.0752,-159.3190,69.80,73,90,6.91
1,1,Henties Bay,NaN,2021-04-18 16:01:18,-22.1160,14.2845,85.24,36,96,14.72
2,2,Tiksi,RU,2021-04-18 16:01:19,71.6872,128.8694,6.48,89,100,12.55
3,3,Airai,TL,2021-04-18 16:01:19,-8.9266,125.4092,56.93,81,75,2.71
4,4,Hervey Bay,AU,2021-04-18 16:01:19,-25.2986,152.8535,64.00,85,0,4.00

In [47]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [48]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [49]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [51]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))